.btn {
  display: block;
  padding: 15px 25px;
  font-size: 1em;
  background-color: white;
  border: 1px solid #f8f8f8;
  margin: auto;
  box-shadow: 1px 1px 1px #ccc;
  margin: 15px 15px;

}

.redBtn {
  background-color: #f45042;
  border: 1px solid #d04538;
  color: #fff;
}