.btn-1 {

  display: block;
  padding: 15px 25px;
  font-size: 1em;
  background-color: white;
  border: 1px solid #f8f8f8;
  margin: auto;
  box-shadow: 1px 1px 1px #ccc;
  margin-top: 15px;
  margin-bottom: 15px;
}