.Person {
  display: inline-block;
  width: 20%;
  margin: auto;
  padding: 15px;
  box-shadow: 1px 1px 1px #ccc;
  border: 1px solid #f8f8f8;
  text-align: center;
  margin: 15px 15px;
}

.Person:hover {
  background-color: #fbfbfb;
}

.Person .formInputs {
  margin-bottom: 15px;
}

.Person label {
  display: inline-block;
  width: 20%;
  max-width: 45px;
  text-align: left;
}

.Person input {
  padding: 8px 5px;
}

.Person h3 {
  margin-top: 0px;
  margin-bottom: 5px;
}

.Person button {
  display: inline-block;
}